*,
*:after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

main {
  padding: 20px 40px;
}

form {
  margin-bottom: 20px;
}

.form__row:first-of-type {
  margin-bottom: 20px;
}

.file__block {
  display: flex;
  flex-direction: column;
}

.input__file {
  position: absolute;
  z-index: -1;
  opacity: 0;
  overflow: hidden;
  width: 0.1px;
  height: 0.1px;
}

.input__file + label {
  display: block;
  border: 2px solid transparent;
  border-radius: 6px;
  background-color: #3c3757;
  width: 250px;
  padding: 10px 10px;
  font-size: 1.25em;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.input__file:focus + label,
.input__file + label:hover {
  background-color: #374072;
}

.input__file + label {
  margin-bottom: 10px;
  cursor: pointer;
}

.input__file:focus + label {
  outline: none;
  border-color: #0e0b1f;
}

#submit {
  border: none;
  border-radius: 6px;
  background-color: #16751b;
  padding: 10px 10px;
  font-size: 1.25em;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}

#submit:hover {
  background-color: #219927;
}

#submit:active {
  background-color: #053307;
}

.list li {
  color: #0d043f;
  font-weight: 700;
}

/*table*/
.result {
  margin: auto;
  margin-bottom: 50px;
  width: 840px;
}

.modification {
  margin: auto;
  margin-bottom: 50px;
  width: 840px;
}

.block__heading {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #040113;
}

.cd__data {
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 20px;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

thead {
  background: #98b6f7;
  font-weight: bold;
  text-align: center;
}

.cell {
  padding: 5px 10px;
  border: 2px solid #18181b;
  width: 200px;
}

.table__section {
  background: #cfd5df;
  font-weight: bold;
  text-align: center;
}

.good__order,
.part {
  background: #939396;
}
